{{/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/}}

<!-- Translated to German -->
{{define "tab-content"}}

    <div class="tab-card card">
        <div class="navbar navbar-light action-bar p-3" id="settings-nav">
            {{ template "settings-nav" .}}
        </div>
        <div class="row tab-side-bar-row">
            <div class="col-md-3 p-3 list-group">
                <div class=" nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                    <a class="nav-link list-group-item {{if eq .SettingsIdentifier "Project" }} active {{end}}"
                       id="projectSettingsSelect"
                       data-toggle="pill" href=""
                       aria-controls="permission-settings-cont">{{T "Project settings" .}}</a>

                    <a class="nav-link list-group-item {{if eq .SettingsIdentifier "Permission" }} active {{end}}"
                       id="permissionSettingsSelect"
                       data-toggle="pill" href=""
                       aria-controls="permission-cont">{{T "Permission settings" .}}</a>

                </div>
            </div>

            <div class="col-md-9 p-3 tab-side-bar">
                <div class="tab-content" id="settings-tab">
                    {{template "settings-tab" .}}
                </div>
            </div>
        </div>
    </div>

    <!-- Import Scripts here -->
    <script src="/static/js/project/settings/settings.js"></script>

    <script>
        initializeSettingsTabListener();

        $("#printerIcon").addClass("d-none");
        $("#helpIcon").addClass("d-none");
    </script>
{{end}}