{{/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/}}

<!-- Translated to German -->
{{define "settings-nav"}}

        <div class="input-group flex-nowrap">

            <button type="button" class="btn btn-success ml-2" id="SavePermissionsButton" data-toggle="modal">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                <span class="d-none d-sm-inline">{{T "Save" .}}</span>
            </button>

            {{if .ProjectPermissions.EditPermissions }}
                <button type="button" class="btn btn-primary ml-2 float-right" id="addRoleButton" data-toggle="modal">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span class="d-none d-sm-inline">{{T "Add Role" .}}</span>
                </button>
            {{ end }}
        </div>
{{end}}